{% extends 'base.html.twig' %}

{% block title %} Error_search movies {% endblock %}

{% block body %}
    <section id="error_page">
    <h1> Sorry we haven't found your search ! </h1>
    </section>
{% endblock %}
